@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nam dapibus blandit nulla, in venenatis sem tempus sed.<br> Praesent vel tincidunt elit, nec congue enim. 
    <br>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
    <br>Nam porta scelerisque dui, non commodo sem aliquet nec.
</p>
