* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  font-size: 14px;
}

.center {
    display: inline;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: unset !important;
}